# Flowchart and Pseudocode Programming
![separate line][1]	

> Note : 
> 
> 1. `Computer` : INPUT - PROCESS - OUTPUT

---


<table class="table table-striped table-bordered" > 
    <thead> 
        <tr> 
            <th class="text-center" style="width: 50px">#</th> 
            <th class="text-center">Topic</th> 
            <th class="text-center">Description</th>
        </tr> 
    </thead> 
    <tbody> 
        <tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-topic-01">Input - Process - Output</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-topic-02">What's Algorithm?</a></td> 
            <td></td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary">3</span></td> 
            <td><a href="#goto-topic-03">What's Flowchart?</a></td> 
            <td></td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary">4</span></td> 
            <td><a href="#goto-topic-04">What's Pseudocode?</a></td> 
            <td></td> 
        </tr>
        
    </tbody> 
</table>



![bookmark][4]{: #goto-topic-01 }

## Input - Process - Output

![separate line][1]

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; `I-P-O` = **Input**, **Processing**, **Output** 
Input is anything we wish to embed in a system for some type of use. Example of input includes keyboard, scanner, microphone, mouse Processing takes place in the internal parts of the computer. It is the act of taking inputted data and converting it to something usable. For Example: For Example: Accepting the values,Checking for availability of seats and displaying results Output, or processed information in a usable format, comes in many different forms: monitor or printer for visual work, a speaker for audio.

[![ภาพแสดง Input-Process-Output][5]](){: .fancybox-button 
			   data-fancybox-group="button-5" 
			   href="<%= current_page.data.baseURL %>images/categories/Software Development/flowchart-and-pseudocode-programming-001.png"}
			   
<p class="text-center"> <strong> <ins>รูปภาพ</ins> <i>Input - Process - Output</i></strong> </p>

![bookmark][4]{: #goto-topic-02 }

## What's Algorithm?

![separate line][1]

* `An Algorithm` is a sequence of steps required to solve a problem.
* `An Algorithm` has the following 5 characteristics : 
	1. An Algorithm ends after a fixed number of steps
	2. Each step in an algorithm clearly specifies the action to be performed.
	3. The steps in an algorithm specify basic operations. <br/>- These opertions could include calculations, <br/>- input/output operations </br>- and comparisions.
	4. An Algorithm accepts input data, in a defined format, before it can be processed.
	5. An Algorithm generates one or more outputs after the input is processed. <br/>The resultant information termed as output can be displayed or stored for future reference.
	
<br/>

* It is a list of well defined instructions to solve a problem.
	1. Step 1 : Turned on or not
	2. Step 2 : Dial Phone number
	3. Stpe 3 : Wait for the ring
	4. Step 4 : Start Talking  

![bookmark][4]{: #goto-topic-03 }

## What's Flowchart?

![separate line][1]

ลิ้งไปยัง [draw.io](https://www.draw.io/#Dflowchart.html "draw.io")

* `A Flowchart` is a graphical representation of the steps to be followed for solving a problem.
* It consists of a set of symbols
* Each symbol represents a specific activity.

### <ins>Rule of Flowchart</ins>

1. The entire logic of a flowchart should be represented using standard symbols.
2. The flowchart should be clear, precise and easy to follow.
3. The flowchart should have only one start point and one end point.
4. The start and stop symbols should have only a single flow line.
5. It is useful to test the logic of flowchart by testing the flowchart using some sample values. 


[![ภาพแสดง สัญลักษณ์ของ Flowchart][6]](){: .fancybox-button 
			   data-fancybox-group="button-6" 
			   href="<%= current_page.data.baseURL %>images/categories/Software Development/flowchart-and-pseudocode-programming-002-thumbnail.png"}
			   
<p class="text-center"> <strong> <ins>ภาพแสดง</ins> <i>สัญลักษณ์ของ Flowchart</i></strong> </p>


### <ins>How to Draw Flowchart</ins>

#### <ins>Example</ins> : Withdrawing an amount from an ATM

* **step 1**  : Start the Algorithm
* **step 2**  : Go to any local ATM.
* **step 3**  : Insert/Swipe your ATM Card.
* **step 4**  : Press the language button that you want to choose.
* **step 5**  : Enter the pin code number.
* **step 6**  : Press the account type (Savings or Current) button from which you want to withdraw the money.
* **step 7**  : Press the cash withdrawal button.
* **step 8**  : Enter the amount you want to withdraw.
* **step 9**  : Collect the amount from the ATM Machine
* **step 10** : Collect the statement from the ATM Machine.
* **step 11** : Collect your ATM Card.
* **step 12** : End the Algorithm

[![ภาพแสดง Flowchart ของการถอนเงินจากตู้ ATM][7]](){: .fancybox-button 
			   data-fancybox-group="button-7" 
			   href="<%= current_page.data.baseURL %>images/categories/Software Development/flowchart-and-pseudocode-programming-003.png"}
			   
<p class="text-center"> <strong> <ins>ภาพแสดง</ins> <i>Flowchart ของการถอนเงินจากตู้ ATM</i></strong> </p>

---

### <ins>Conditional Execution</ins>

---

### <ins>How to implement `Repetitive Process` in Flowchart</ins>

---


![bookmark][4]{: #goto-topic-04 }

## What's Pseudocode?

![separate line][1]


<table class="table table-striped table-bordered" > 
    <thead> 
        <tr> 
            <th class="text-center">Keyword</th> 
            <th class="text-center">Usage</th>
        </tr> 
    </thead> 
    <tbody> 
        <tr> 
            <td>//</td> 
            <td>//represents a comment entry</td> 
        </tr> 
        <tr> 
            <td>begin...end</td> 
            <td>Represents a block.</td> 
        </tr> 
        <tr> 
            <td>accept</td> 
            <td>Is used to accept input.</td> 
        </tr>
        <tr> 
            <td>compute</td> 
            <td>Is used to calculate the result of an expression.</td> 
        </tr>
        <tr> 
            <td>display</td> 
            <td>Is used to display output.</td> 
        </tr>
        <tr> 
            <td>If --- else --- endif</td> 
            <td>Used to make decisions.</td> 
        </tr>
        <tr> 
            <td>for...index...endfor</td> 
            <td>Used to iterate a set of statements.</td> 
        </tr>
        <tr> 
            <td>call subroutine_name</td> 
            <td>Used to invoke subroutines.</td> 
        </tr>
    </tbody> 
</table>

<p class="text-center"> <strong> <ins>ภาพแสดง</ins> <i>Keywords in Pseudocode</i></strong> </p>


---


[1]: <%= current_page.data.baseURL %>images/blog-common/separate-line.png
[2]: <%= current_page.data.baseURL %>images/blog-common/separate-line-with-indent.png
[3]: <%= current_page.data.baseURL %>images/blog-common/icon-h1.png
[4]: <%= current_page.data.baseURL %>images/blog-common/bookmark-blank-image.png

[5]: <%= current_page.data.baseURL %>images/categories/Software%20Development/flowchart-and-pseudocode-programming-001.png
[6]: <%= current_page.data.baseURL %>images/categories/Software%20Development/flowchart-and-pseudocode-programming-002.png
[7]: <%= current_page.data.baseURL %>images/categories/Software%20Development/flowchart-and-pseudocode-programming-003.png


