# การใช้งาน Animation, Alpha & Orientation
![separate line][common-01]	


ในบทนี้เราจะได้เรียนรู้เกี่ยวกับคอนเซ็ปสำคัญ 3 อย่าง ที่เกี่ยวข้องกับการทำงานกับ mobile environment.  

<table class="table table-bordered"> 
    <thead> 
        <tr> 
            <th class="text-center" style="width: 20px">#</th> 
            <th class="text-center">หัวข้อที่เราจะได้เรียนรู้</th> 
        </tr> 
    </thead> 
    <tbody> 
    	<tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-animation">basic animation with Corona</a></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-alpha">การใช้งานและการกำหนดค่า alpha (how to fade objects in and out of view)</a></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">3</span></td> 
            <td><a href="#goto-orientation">we will examine the all-important orientation change settings, critical to many apps (and getting approved by Apple and Google).</a></td> 
        </tr> 
    </tbody> 
</table>

<br/>

![bookmark][common-04]{: #goto-animation }

## 1. Animation ![separate line sub topic][common-08] 

<%= partial blog_dir + "Corona SDK/partials/2016-03-06-chapter-03-animation-alpha-and-orientation/_animation" %>


![bookmark][common-04]{: #goto-alpha }

## 2. Alpha ![separate line sub topic][common-08] 

---

![bookmark][common-04]{: #goto-orientation }

## 3. orientation ![separate line sub topic][common-08] 

---

[common-01]: <%= current_page.data.baseURL %>images/blog-common/separate-line.png  
[common-02]: <%= current_page.data.baseURL %>images/blog-common/separate-line-with-indent.png  
[common-03]: <%= current_page.data.baseURL %>images/blog-common/icon-h1.png  
[common-04]: <%= current_page.data.baseURL %>images/blog-common/bookmark-blank-image.png  
[common-05]: <%= current_page.data.baseURL %>images/blog-common/external-link-15x15.png  
[common-06]: <%= current_page.data.baseURL %>images/blog-common/external-link-30x30.png
[common-07]: <%= current_page.data.baseURL %>images/blog-common/separate-line-topic.png
[common-08]: <%= current_page.data.baseURL %>images/blog-common/separate-line-sub-topic.png

[1]: <%= current_page.data.baseURL %>images/categories/Corona%20SDK/transition_to.gif

