<div class="widget">
  <h5 class="widgetheading">Categories</h5>
  <ul class="cat">
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_portfolioIndex %>">Portfolio</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_softwareDevelopmentIndex %>">Software Development</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_gitIndex %>">Git and GitHub</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_dockerIndex %>">Docker</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_loadBalancerIndex %>">Load Balancer</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_loadAndPerformanceTestIndex %>">Load and Performance Test</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_microservicesIndex %>">Microservices</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_businessProcessModeling2Index %>">Business Process Modeling 2.0</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_prototypingAndDesignIndex %>">Prototyping and Design</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_maya2017Index %>">Maya 2017</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_afterEffectCCIndex %>">After Effect CC</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_unity5Index %>">Unity 5.x</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_sublimeTextIndex %>">Sublime Text</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_semanticUiIndex %>"><strong>Semantic UI</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_javascriptIndex %>"><strong>JavaScript</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_webpackIndex %>"><strong>Webpack</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_reactivexRxjsIndex %>"><strong>ReactiveX (RxJS)</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_coffeescriptIndex %>">Coffeescript</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_vueJsIndex %>"><strong>VueJS</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_nodejsIndex %>"><strong>NodeJS</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_mongoDbIndex %>">MongoDB</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_realtimeApplicationsIndex %>">Realtime Applications</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_phpIndex %>"><strong>ภาษา PHP</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_phpPdoIndex %>">PHP - PDO</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_phpNusoapIndex %>">PHP - NuSOAP</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_pageKitIndex %>">PHP - PageKit</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_phpLaravelIndex %>">PHP - Laravel</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_webDevelopmentIndex %>">Web Development</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_openLayers3Index %>">OpenLayers 3</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_leafletIndex %>">Leaflet</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_restfulWebServiceIndex %>">RESTful Web Service</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_rubyIndex %>"><strong>ภาษา Ruby</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_middlemanDevelopmentIndex %>">Middleman</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_jekyllIndex %>">Jekyll</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_swift2Index %>"><strong>ภาษา Swift 2</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_swift3Index %>"><strong>ภาษา Swift 3</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_iosDevelopmentIndex %>">iOS Development</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_iosPluginIndex %>">iOS Plugin</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_iosWorkshopIndex %>">iOS Workshop</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_macOSxIndex %>">Mac OS X</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_luaIndex %>"><strong>ภาษา Lua</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_coronaSDKIndex %>">CoronaSDK</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_coronaPluginIndex %>">Corona Plugin</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_coronaWorkshopIndex %>">Corona Workshop</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_pythonIndex %>"><strong>ภาษา Python</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_flaskIndex %>">Flask</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_internetOfThingsIndex %>"><strong>Internet of Things</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_esp8266Index %>">ESP8266</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_raspberryPiIndex %>">Raspberry Pi</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_mqttIndex %>">MQTT</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_microsoftVisualStudioIndex %>"><strong>Microsoft Visual Studio</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_englishIndex %>"><strong>ภาษา English</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_mwaIndex %>"><strong>การประปานครหลวง</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_scadaIndex %>">SCADA</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_rtuIndex %>">RTU</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_wlmaIndex %>">WLMA</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_gisIndex %>">GIS</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_trainingCourseIndex %>">Training & Seminar</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectsIndex %>"><strong>Project Management</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectRmrIndex %>">Project - RMR</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectMbkIndex %>">Project - MBK</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectIelIndex %>">Project - IEL</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectDhlIndex %>">Project - DHL</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectProposalIndex %>">Project - Proposal</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_freelanceIndex %>"><strong>Freelance (ฟรีแลนด์ เงินล้าน)</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_udemyCourseCreationIndex %>">Udemy Course Creation</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_udemyCourseLectureIndex %>">Udemy Course Lecture</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_technologyAuthenticationIndex %>"><strong>เทคโนโลยียืนยันตัวบุคคล</strong></a>
    </li>
    
  </ul>
</div>

