<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
 
          <ul>
 
            <% blog.articles.each do |article| %>
            <% if article.data.category == current_page.data.categoryName && article.data.isIndexPage != true %>
            <li>
              <h6>
                <a href="<%= current_page.data.baseURI %><%= article.url %>"><%= truncate(article.title, :length => 50) %></a>
              </h6>
              <p>
               <%= article.data.introText %>
             </p>
           </li>
            <% end %>
            <% end %>
 
          </ul>
 
      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>
 
    </div>
  </div>
</section>