# การใช้งาน Markdown เขียน Blog
![separate line][common-01]	



ลิ้งค์สำหรับ [แหล่งความรู้ Markdown](http://maruku.rubyforge.org/proposal.html "Title")

<table class="table table-striped table-bordered" > 
    <thead> 
        <tr> 
            <th class="text-center" style="width: 50px">#</th> 
            <th class="text-center">Topic</th> 
            <th class="text-center">Description</th>
        </tr> 
    </thead> 
    <tbody> 
        <tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-topic-01">การใช้งาน Markdown เบื้องต้น</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-topic-02">การใช้งาน fancybox เพื่อแสดงรูปภาพของ Blog</a></td> 
            <td></td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary">3</span></td> 
            <td><a href="#goto-topic-03">การใช้งานไฟล์ GIF เพื่อแสดงผลบน Blog </a></td> 
            <td></td> 
        </tr>
        
    </tbody> 
</table>



<%= partial blog_dir + "Middleman Development/partials/2016-02-05-using-markdown/_goto-topic-02" %>
<%= partial blog_dir + "Middleman Development/partials/2016-02-05-using-markdown/_goto-topic-03" %>



[1]: <%= current_page.data.baseURL %>images/blog-common/separate-line.png
[2]: <%= current_page.data.baseURL %>images/blog-common/separate-line-with-indent.png
[3]: <%= current_page.data.baseURL %>images/blog-common/icon-h1.png
[4]: <%= current_page.data.baseURL %>images/blog-common/bookmark-blank-image.png

[common-01]: <%= current_page.data.baseURL %>images/blog-common/separate-line.png  
[common-02]: <%= current_page.data.baseURL %>images/blog-common/separate-line-with-indent.png  
[common-03]: <%= current_page.data.baseURL %>images/blog-common/icon-h1.png  
[common-04]: <%= current_page.data.baseURL %>images/blog-common/bookmark-blank-image.png  
[common-05]: <%= current_page.data.baseURL %>images/blog-common/external-link-15x15.png  
[common-06]: <%= current_page.data.baseURL %>images/blog-common/external-link-30x30.png
[common-07]: <%= current_page.data.baseURL %>images/blog-common/separate-line-topic.png
[common-08]: <%= current_page.data.baseURL %>images/blog-common/separate-line-sub-topic.png

[5]: <%= current_page.data.baseURL %>images/categories/Middleman%20Development/using-markdown-for-blog-001.png
[6]: <%= current_page.data.baseURL %>images/categories/Middleman%20Development/Gifrocket.gif
