# ประกวด MEGA2015 [![ภาพ external-link-30x30][6]](){: href="http://mega.apps.go.th/activity/index/0200#activity_10" target="_blank"}
![separate line][1]	

![ภาพ log-mega2015][7]	

## วัตถุประสงค์
![separate line][1]	

1. ส่งเสริมให้เกิดการพัฒนา Mobile Application ภาครัฐเพื่อรองรับภารกิจและยุทธศาสตร์การพัฒนารัฐบาลอิเล็กทรอนิกส์ของสำนักงานรัฐบาลอิเล็กทรอนิกส์ (องค์การมหาชน)
2. เพื่อกระตุ้นให้เกิดการพัฒนา Mobile Application ของภาครัฐ เป็นการส่งเสริมการการยกระดับคุณภาพบริการของรัฐให้ประชาชนได้รับความสะดวกในการเข้าถึงบริการได้อย่างรวดเร็วมากยิ่งขึ้น
3. เพื่อส่งเสริมนักพัฒนาโมบาย Mobile Application ของไทยให้มีโอกาสต่อยอดความคิดให้กับผลงานที่มีความพร้อมและแสดงผลงานในเวทีระดับประเทศ อันส่งผลด้านการสร้าง Market Awareness ให้เป็นที่รู้จักและยอมรับทั้งในและต่างประเทศ เพื่อผลักดันสู่ธุรกิจที่จับต้องได้และเป็นรูปธรรม
4. เพื่อให้เกิดการแลกเปลี่ยน และสร้างเครือข่ายความร่วมมือระหว่างนักพัฒนาทั้งภาครัฐ ภาคเอกชน และภาคการศึกษา

<br/>

## ผลที่คาดว่าจะได้รับ
![separate line][1]	

1. เป็นส่วนหนึ่งในการสนองพระราชปณิธาน ตามพระราชทานแนวทางดำเนินการในอันที่จะนำเทคโนโลยีสารสนเทศ มาใช้ในการยกระดับคุณภาพชีวิต ของโครงการเทคโนโลยีสารสนเทศตามพระราชดำริ สมเด็จพระเทพรัตนราชสุดา สยามบรมราชกุมารี
2. ส่งเสริมนักพัฒนาซอฟต์แวร์รุ่นใหม่ในการพัฒนาแอปพลิเคชันภาครัฐที่เป็นประโยชน์ เกิดการขับเคลื่อนให้เป็น ผู้ประกอบการซอฟต์แวร์ใหม่ๆ (Entrepreneur) ที่มีคุณภาพต่อไปในอนาคต
3. ผลงานจากการประกวดได้รับการผลักดันจาก อีจีเอ หรือหน่วยงานภาครัฐที่เกี่ยวข้อง ดำเนินการเป็น Mobile Application อย่างเป็นรูปธรรมและพร้อมใช้งานได้จริง รวมทั้งเป็นที่รู้จักอย่างกว้างขวาง
4. เกิดเครือข่ายความร่วมมือระหว่างนักพัฒนา Mobile Application จากทุกภาคส่วน ทั้งภาครัฐ ภาคเอกชน และภาคการศึกษา ในการแลกเปลี่ยนข้อมูล สนับสนุน ผลักดันวงการอุตสาหกรรมซอฟต์แวร์ไทย 


<br/>

## ผู้รับผิดชอบโครงการ
![separate line][1]	

สำนักงานรัฐบาลอิเล็กทรอนิกส์ (องค์การมหาชน) หรือ อีจีเอ ภายใต้กระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร

<br/>

## เกณฑ์การพิจารณา
![separate line][1]	

1. ผู้เข้าประกวดต้องกรอกรายละเอียดในเอกสารแบบฟอร์มส่งผลงานเข้าประกวดให้สมบูรณ์ตามที่กำหนด
2. คณะกรรมการตัดสินผลงานโดยพิจารณาจากเอกสารที่เสนอ และคณะกรรมการมีสิทธิ์ที่จะขอข้อมูลเพื่อ ประกอบการพิจารณาเพิ่มเติม
3. ผู้ที่ผ่านการคัดเลือกรอบข้อเสนอโครงการตามเกณฑ์การตัดสินที่กำหนดไว้ จะมีสิทธิ์ผ่านเข้ารอบชิงชนะเลิศ
4. การตัดสินของคณะกรรมการถือว่าเป็นที่สิ้นสุด
5. เกณฑ์การให้คะแนนตัดสิน มีรายละเอียดดังนี้

[![ภาพ เกณฑ์การให้คะแนน-mega2015][8]](){: .fancybox-button 
							data-fancybox-group="mega2015-01" 
							href="<%= current_page.data.baseURL %>images/categories/Project - Proposal/mega2015-002.png"}

<br/>

<h3><p class="text-center"> <strong><i><ins>กำหนดการโครงการ</ins></i></strong> </p></h3>


#### ระยะเวลาการจัดประกวด ประมาณ 7 เดือน `(ธันวาคม 2558 – มิถุนายน 2559)`




<table class="table table-striped table-bordered" > 
    <thead> 
        <tr> 
            <th class="text-center" style="width: 50px">#</th> 
            <th>ระยะเวลาดำเนินการ</th> 
            <th>กิจกรรม / แผนการดำเนินงาน</th>
        </tr> 
    </thead> 
    <tbody> 
        <tr> 
            <td class="text-center"><span class="label label-primary"> 1 </span></td> 
            <td>21 ธ.ค. 58</td> 
            <td>งานแถลงข่าวเปิดตัวโครงการ</td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary"> 2 </span></td> 
            <td>21 ธ.ค. 58 - 09 ก.พ. 59</td> 
            <td>เปิดรับสมัครออนไลน์ และประชาสัมพันธ์โครงการ</td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary"> 3 </span></td> 
            <td>11 ก.พ. 59</td> 
            <td>จัดงานวันปฐมนิเทศผู้ประกวด</td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary"> 4 </span></td> 
            <td>11 ก.พ. – 15 มี.ค. 59</td> 
            <td><a href="#goto-proposal-01">ผู้ประกวดจัดส่งผลงาน (Proposal) ทางอีเมล์</a></td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary"> 5 </span></td> 
            <td>28 มี.ค. 59</td> 
            <td>งานวันพิจารณาตัดสินรอบ Proposal</td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary"> 6 </span></td> 
            <td>29 มี.ค. 59</td> 
            <td>ประกาศผลผู้เข้ารอบ</td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary"> 7 </span></td> 
            <td>29 มี.ค. - 20 พ.ค. 59</td> 
            <td><a href="#goto-proposal-02">ผู้ประกวดจัดส่งผลงาน (Prototype) ทางอีเมล์</a></td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary"> 8 </span></td> 
            <td>1-3 เม.ย. 59</td> 
            <td>แคมป์บ่มเพาะ เสริมความรู้รอบด้าน สู่ความเป็นมืออาชีพ</td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary"> 9 </span></td> 
            <td>27 พ.ค. 59</td> 
            <td>งานวันพิจารณาตัดสินรอบ Prototype</td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary"> 10 </span></td> 
            <td>9 มิ.ย. 59</td> 
            <td>งานวันประกาศผล พิธีมอบรางวัล และจัดนิทรรศการ</td> 
        </tr>
        
        
    </tbody> 
</table>

<br/>


![bookmark][4]{: #goto-proposal-01 }

## <span class="label label-primary">PROPOSAL</span> ผู้ประกวดจัดส่งผลงาน (Proposal) ทางอีเมล์ 

![separate line][1]	


### 1. ข้อมูลผู้ประกวด

---

### 2. ข้อมูลผลงาน

---

### 3. แผนงาน
* `ความเป็นมาและความสำคัญของปัญหา`
* `วัตถุประสงค์` 
* `สมมติฐานของการพัฒนา`, 
* `ขอบเขตของการพัฒนา`, 
* `ระยะเวลาและแผนการดำเนินการ`, 
* `รายละเอียดของการพัฒนา` , 
* `องค์ประกอบ/โครงสร้างพื้นฐาน หรือสถาปัตยกรรม ของระบบสารสนเทศที่จะพัฒนา` <br/> (เทคนิคหรือเทคโนโลยีที่ใช้ และโครงสร้างข้อมูล เช่น เครื่องมือที่ใช้ในการพัฒนา), 
* `เครื่องมือที่ใช้ทดสอบการใช้งาน`, 
* `รายละเอียดโปรแกรม ที่จะพัฒนา (Software Specification)`, 
* `แผนงานด้านอื่นๆ ที่เกี่ยวข้อง` (ถ้ามี) <br/> ได้แก่ การวิเคราะห์หรือแผนการตลาด การวิเคราะห์คู่แข่งขัน การวิเคราะห์ความเสี่ยง การวิเคราะห์แผนการเงิน , 
* `ประโยชน์ที่คาดว่าจะได้รับ`

---


<br/>

![bookmark][4]{: #goto-proposal-02 }

## <span class="label label-primary">Prototype</span> ผู้ประกวดจัดส่งผลงาน (Prototype) ทางอีเมล์ 

![separate line][1]	


### 1. นำเสนอโครงการและความเป็นไปได้ของผลงาน (ไม่เกิน 20 นาที)

ผู้ประกวดต้องนำเสนอโครงการและความเป็นไปได้ของผลงานด้วยตนเอง ต่อคณะกรรมการตัดสิน (ระยะเวลานำเสนอต่อ 1 ผลงานไม่เกิน 20 นาที) โดยไม่จำกัด รูปแบบและวิธีการนำเสนอ

---

### 2. สิ่งที่ต้องส่งมอบ

 สิ่งที่ต้องส่งมอบ คือ 
 
 * เอกสารแนะนำรายละเอียดผลงานอย่างละเอียด จำนวน 1 ชุด 
 * CD-ROM จำนวน 1 ชุด ในวันเสนอโครงการ หรือสาธิตซอฟต์แวร์ที่พัฒนาขึ้น <br/>(**ประเภทสุดยอดนวัตกรรม ต้องมีชิ้นงานนำมาเสนอ**)

---


---



[1]: <%= current_page.data.baseURL %>images/blog-common/separate-line.png  
[2]: <%= current_page.data.baseURL %>images/blog-common/separate-line-with-indent.png  
[3]: <%= current_page.data.baseURL %>images/blog-common/icon-h1.png  
[4]: <%= current_page.data.baseURL %>images/blog-common/bookmark-blank-image.png  
[5]: <%= current_page.data.baseURL %>images/blog-common/external-link-15x15.png  
[6]: <%= current_page.data.baseURL %>images/blog-common/external-link-30x30.png 

[7]: <%= current_page.data.baseURL %>images/categories/Project%20-%20Proposal/mega2015-001.png
[8]: <%= current_page.data.baseURL %>images/categories/Project%20-%20Proposal/mega2015-002.png  




